@import "../../node_modules/react-vis/dist/style";
@import "colors";

.pull-right {
  float: right;
}

.margin-top-15 {
  margin-top: 15px !important;
}

.bgr-primary {
  background-color: $primary !important;
  svg {
    color: $primary-dark !important;
  }
  span {
    color: $secondary-light;
  }
}

.border-light {
  border: 1px solid $secondary-light;
}

.pending-status {
  background-color: $pending-color !important;
}

.completed-status {
  background-color: $completed-color !important;
}

.failed-status {
  background-color: $failed-color !important;
}

.graph-info-box {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 5px;
  border-radius: 5px;
  h3 {
    padding: 0px;
    margin: 0px 0px 5px 0px;
    white-space: nowrap;
  }
  p {
    margin: 2px;
    white-space: nowrap;
  }
}

.footer {
  margin-top: 15px;
  width: 100%;
  height: 150px;
  background-color: $secondary-dark;
  color: $secondary-light;
  box-shadow: 0px -5px 12px 0px #0000007d;
  .centered-content {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    width: 200px;
    text-align: center;
    margin: auto;
    font-size: 13px;
    padding-top: 70px;
  }
}

.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

.spinner-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
  color: inherit;
}

.no-wrap {
  white-space: nowrap;
}

.request-details-container {
  overflow: hidden;
  svg {
    margin-left: 5px;
    display: inline;
  }

  .truncated-details-container{
    display: inline-block;
    max-width: 270px;
    text-overflow: ellipsis;
    .truncated-details {
      white-space: nowrap;
    }
    overflow: hidden;
  }
}

.tooltip-details {
  margin-bottom: -5px;
  .request-item {
    white-space: nowrap;
    display: block;
    width: 200px;
    background-color: white;
    padding: 3px;
    border-radius: 3px;
    margin-bottom: 5px;
    border: 1px solid $primary-dark;
    color: black;
    .itinerary-details {
      font-size: 13px;
      display: block;

      .separator {
        position: relative;
        bottom: 7px;
      }
      .item {
        margin: 0px 2px;
        display: inline;
        svg {
          width: 20px;
          margin: 0px 2px;
        }
        span {
          position: relative;
          bottom: 7px;
        }
      }
    }

  }
}

.MuiAutocomplete-inputRoot {
  padding-right: 85px !important;

  .MuiAutocomplete-endAdornment {
    margin-top: -10px;
  }

}

.graph-item-container {
  display: flex;
  min-width: 33%;
  @media (max-width: 900px) {
    min-width: 50% !important;
  }
  @media (max-width: 650px) {
    min-width: 100% !important;
  }
  .graph-item {
    width: 100%;
  }
}
